<div class="container">
    <div class="row">
        <mat-card class="example-card">
            <mat-card-header>
              
              <h2>Thank you for your application. 
                {{this.caseName===''?'':this.caseName}} is the reference number of your application.
                 Request you to please use the reference number for all further correspondence.
                 In order for us to process it and return with a decision we will request a credit
                  report and connect with you if any additional documents are required.</h2>
              <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
            </mat-card-header>
            <img mat-card-image src="../../../assets/images/confirm.png" alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
              </p>
            </mat-card-content>
            <!-- <mat-card-actions>
              <button mat-button>LIKE</button>
              <button mat-button>SHARE</button>
            </mat-card-actions> -->
          </mat-card>
          
    </div>
</div>
