
<header>
  <div class="header-section">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-lg-2 col-12">
          <div class="logo"><img src="./../../assets/images/oie_jpg.png" /></div>
        </div>
        <div class="col-sm-6 col-lg-10 col-12">
          <div class="st-h5">
            <div class="serach-box">
             
              <div class="input-group">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Search"
                />
                <div class="input-group-append">
                  <button class="btn btn-secondary" type="button">
                    <i class="fa fa-search"
                      ></i>
                  </button>
                </div>
              </div>
            </div>
            <div class="accout-st" *ngIf="!this.authService.isLoggedIn()">
              <!-- <p>{{userData.name}}</p> -->
              <button [routerLink]="['/login']" routerLinkActive="router-link-active" class="loginBtn">Login</button>
              <!-- <a  [routerLink]="['/login']" routerLinkActive="router-link-active" ><img src="./../../assets/images/user-name.png" /></a> -->
            </div>
            <div class="accout-st" *ngIf="this.authService.isLoggedIn()">
              <p>{{userData.name}}</p>
              <a  (click)="logout()" routerLinkActive="router-link-active" ><img src="./../../assets/images/user-name.png" /></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <nav id="mainNav" class="navbar mainNav navbar-expand-lg navbar-light">
      <div class="container">
        <button
          class="navbar-toggler order-3"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div
          class="collapse navbar-collapse order-4 order-lg-2"
          id="navbarSupportedContent"
        >
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/consumer/dashboard']" routerLinkActive="router-link-active"  *ngIf="this.authService.isLoggedIn()">Home </a>
              <a class="nav-link" href="javascript:void(0);" *ngIf="!this.authService.isLoggedIn()">Home </a>

            </li>
            <li class="nav-item">
              <a class="nav-link" href="javascript:void(0);"
                >Payment/Transfer
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="javascript:void(0);">Credit Card</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="javascript:void(0);" *ngIf="!this.authService.isLoggedIn()">Apply for Home Loan</a>
              <a class="nav-link active" [routerLink]="['/loan']" routerLinkActive="router-link-active" *ngIf="this.authService.isLoggedIn()">Apply for Home Loan</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="javascript:void(0);">Debit Card</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="javascript:void(0);">Investment </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="javascript:void(0);">More </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</header> 

<router-outlet></router-outlet>

 <div class="footer-saction">
  <div class="container">
    <div class="row">
      <div class="col-sm-3 col-lg-3">
        <div class="footer-logo">
          <img src="./../../assets/images/foot-log.jpg" />
        </div>
      </div>
      <div class="col-sm-3 col-lg-3">
        <div class="txt-52">
          <ul>
            <li><img src="./../../assets/images/mapicon.png" />Locate us</li>
            <li>
              <i class="fa fa-phone" style="font-size:20px;color:#fff"></i>
              <!-- <img src="./../../assets/images/phone.png" /> -->
              Phone us</li>
            <li><img src="./../../assets/images/email.png" />Mail us</li>
          </ul>
        </div>
      </div>
      <div class="col-sm-3 col-lg-3">
        <div class="txt-52">
          <ul>
            <li><a href="#">Terms and conditions </a></li>
            <li><a href="#">Facebook</a></li>
            <li><a href="#">Privacy</a></li>
            <li><a href="#">Sitemap</a></li>
          </ul>
        </div>
      </div>
      <div class="col-sm-3 col-lg-3">
        <div class="socail-icon">
          <h2>Connect with us</h2>
          <ul>
            <li>
              <a href="#">
                <i class="fa fa-twitter-square" style="font-size:33px;color:#fff"></i>
                <!-- <img src="./../../assets/images/twitter.png" /> -->
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-facebook-square" style="font-size:33px;color:#fff"></i>
                <!-- <img src="./../../assets/images/face.png" /> -->
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-instagram" style="font-size:33px;color:#fff"></i>
                <!-- <img src="./../../assets/images/in.png" /> -->
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-linkedin-square" style="font-size:33px;color:#fff"></i>
                <!-- <img src="./../../assets/images/insta.png" /> -->
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="footer-two">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-2 col-md-2 col-xl-2 col-lg-2"></div>
      <div class="col-12 col-sm-8 col-md-8 col-xl-8 col-lg-8">
        <p>
          Lorem Ipsum is simply dummy text of the printing and type setting
          industry. Lorem Ipsum has been
        </p>
      </div>
      <div class="col-12 col-sm-2 col-md-2 col-xl-2 col-lg-2"></div>
    </div>
  </div>
</div> 

