<!-- <header>
  <div class="header-section">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-lg-2 col-12">
          <div class="logo"><img src="./assets/images/logo3.png" /></div>
        </div>
        <div class="col-sm-6 col-lg-10 col-12">
          <div class="st-h5">
            <div class="serach-box">
              <div class="input-group">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Search this blog"
                />
                <div class="input-group-append">
                  <button class="btn btn-secondary" type="button">
                    <i class="fa fa-search"
                      ><img src="./assets/images/search.png"
                    /></i>
                  </button>
                </div>
              </div>
            </div>
            <div class="accout-st">
              <p>Kirti Gupta</p>
              <a href=""><img src="./assets/images/user-name.png" /></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <nav id="mainNav" class="navbar mainNav navbar-expand-lg navbar-light">
      <div class="container">
        <button
          class="navbar-toggler order-3"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div
          class="collapse navbar-collapse order-4 order-lg-2"
          id="navbarSupportedContent"
        >
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/consumer-case']" routerLinkActive="router-link-active" >Home </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="javascript:void(0);"
                >Payment/Transfer
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="javascript:void(0);">Credit Cart</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="javascript:void(0);">Loan </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="javascript:void(0);">Debit Card</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="javascript:void(0);">Investment </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="javascript:void(0);">More </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</header> -->

<router-outlet></router-outlet>

<!-- <div class="footer-saction">
  <div class="container">
    <div class="row">
      <div class="col-sm-3 col-lg-3">
        <div class="footer-logo">
          <img src="./assets/images/footer-logo.png" />
        </div>
      </div>
      <div class="col-sm-3 col-lg-3">
        <div class="txt-52">
          <ul>
            <li><img src="./assets/images/mapicon.png" />Locate us</li>
            <li><img src="./assets/images/phone.png" />Phone us</li>
            <li><img src="./assets/images/email.png" />Mail us</li>
          </ul>
        </div>
      </div>
      <div class="col-sm-3 col-lg-3">
        <div class="txt-52">
          <ul>
            <li><a href="#">Terms and conditions </a></li>
            <li><a href="#">Facebook</a></li>
            <li><a href="#">privacy</a></li>
            <li><a href="#">Sitemap</a></li>
          </ul>
        </div>
      </div>
      <div class="col-sm-3 col-lg-3">
        <div class="socail-icon">
          <h2>Connect with us</h2>
          <ul>
            <li>
              <a href="#"><img src="./assets/images/twitter.png" /></a>
            </li>
            <li>
              <a href="#"><img src="./assets/images/face.png" /></a>
            </li>
            <li>
              <a href="#"><img src="./assets/images/in.png" /></a>
            </li>
            <li>
              <a href="#"><img src="./assets/images/insta.png" /></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="footer-two">
  <div class="container">
    <div class="row">
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry. Lorem Ipsum has been
      </p>
    </div>
  </div>
</div> -->
